
<div class="container">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-6 col-md-8 col-xs-4">
			<div class="details">
				<h4>How many bathrooms?</h4>
				<section>
					<h6>Number of bathrooms</h6>
					<i (click)="addBathroom($event)" class="fa fa-minus-square-o"></i><span class="number">{{bathrooms}}</span><i (click)="subBathroom($event)" class="fa fa-plus-square-o"></i>
				</section>
			</div>
			<nav>
				<div class="container">
					<div class="row">
						<div class="col-lg-1"></div>
						<div class="col-lg-6">
							<span class="line"></span>
							<section>
								<div class="back">
									<a [routerLink]="['/enlist', '089083', 'students']"><i class="fa fa-angle-left"></i> Back</a>
								</div>
								<div class="next">
									<a [routerLink]="['/enlist', '089083', 'location']" (click)="onNext()">Next <i class="fa fa-angle-right"></i></a>
								</div>
							</section>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>
