<div class="container">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-6 col-md-8 col-xs-4">
			<form>
				<div class="details">
					<h4>What amenities do you offer?</h4>
					<section>
						<h6>Essential & Convenient Amenities</h6>
						<!-- <div class="amenity" *ngFor="let ga of generalAmenities">
							<div class="switch">
								<input type="checkbox" [id]="ga.value" [value]="ga.value">
								<label [for]="ga.value"></label>
							</div>
							<span class="switch-text">{{ga.name}}</span>
						</div> -->
						<div class="control-container" *ngFor="let amenity of generalAmenities">
							<label class="control control-checkbox" [for]="amenity.value">
								<div class="label-text"><span>{{ amenity.name }}</span></div>
								<input type="checkbox" [id]="amenity.value" [value]="amenity.value">
								<div class="control-indicator"></div>
							</label>
						</div>
					</section>
					<section>
						<h6>Safety & Security Amenities</h6>
						<!-- <div class="amenity" *ngFor="let sa of safetyAmenities">
							<div class="switch">
								<input type="checkbox" [id]="sa.value" [value]="sa.value">
								<label [for]="sa.value"></label>
							</div>
							<span class="switch-text">{{sa.name}}</span>
						</div> -->
						<div class="control-container" *ngFor="let amenity of safetyAmenities">
							<label class="control control-checkbox" [for]="amenity.value">
								<div class="label-text"><span>{{ amenity.name }}</span></div>
								<input type="checkbox" [id]="amenity.value" [value]="amenity.value">
								<div class="control-indicator"></div>
							</label>
						</div>
					</section>
				</div>
				<nav>
					<div class="container">
						<div class="row">
							<div class="col-lg-1"></div>
							<div class="col-lg-6">
								<span class="line"></span>
								<section>
									<div class="back">
										<a [routerLink]="['/enlist', '089083', 'location']"><i class="fa fa-angle-left"></i> Back</a>
									</div>
									<div class="next">
										<button type="button"><a [routerLink]="['/enlist', '089083', 'spaces']">Next <i class="fa fa-angle-right"></i></a></button>
									</div>
								</section>
							</div>
						</div>
					</div>
				</nav>
			</form>
		</div>
	</div>
</div>
