<header *ngIf="!isLoggedOn">
	<nav class="container-fluid cf">
		<span id="logo" appAbril><a routerLink="/">Find & Reserve</a></span>
		<div>
			<h6><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></h6>
			<h6><a [routerLink]="['/enlist']" routerLinkActive="active">Accommodate</a></h6>
			<!-- <h6><a [routerLink]="['/']" [routerLinkActive]="active">Find & Reserve</a></h6> -->
			<h6><a (click)="onLogin()" [routerLink]="['/login']" routerLinkActive="active">Login</a></h6>
		</div>
	</nav>
</header>
<app-student-header *ngIf="isLoggedOn"></app-student-header>
<!--<app-login-header *ngIf="isLoggingIn"></app-login-header>-->
<!--<app-landlord-header *ngIf="isLoggedOn"></app-landlord-header>-->
