@import '../../assets/sass/colours';

footer {
	position: relative;
	box-sizing: border-box;
	left: 0;
	bottom: 0;
	padding: 1.6rem;
	margin-top: 1rem;
	width: 100%;
	overflow: hidden;
	text-align: center !important;
	background-color: $teal400;
	color: $white;
}
