@import "../../../assets/sass/enlisting";
@import "../../../assets/sass/header";

.control-container {
	.label-text {
		div,
		span {
			float: left;
		}

		div {
			&.img {
				width: 75px;
				height: 75px;
				border-radius: 3px;
				background-image: url("https://images.unsplash.com/photo-1553444862-65de13a9e728?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
				background-color: $teal50;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 50% 50%;
			}
		}

		span {
			padding-left: 6px;
			position: relative;
			top: 24px;
		}
	}

	.control-indicator {
		position: absolute;
		top: 28px;
	}
}

.line {
	margin-top: 0.5rem;
	margin-bottom: 0.8rem;
}

.finish {
	float: right !important;
	color: white;
}
