<app-header></app-header>
<form>
	<div class="details">
		<h4>Select an option below</h4>
		<div class="control-container">
			<label class="control control-radio" for="new">
				<div class="label-text clearfix">
					<div>
						<div class="img"></div>
						<span class="heading heading-pri">Enlist a new house</span>
					</div>
				</div>
				<input type="radio" id="new" value="new" name="enlistType" checked>
				<div class="control-indicator"></div>
			</label>
		</div>
		<span class="line"></span>
		<!-- <div class="control-container">
						<label class="control control-radio" for="continue">
							<div class="label-text clearfix">
								<div>
									<div class="img"></div>
									<span class="heading heading-pri">Continue from pending enlisting</span>
								</div>
							</div>
							<input type="radio" id="continue" value="continue" name="enlistType" disabled
								formControlName="enlistType">
							<div class="control-indicator"></div>
						</label>
					</div>
					<span class="line"></span>
					<div class="control-container">
						<label class="control control-radio" for="edit">
							<div class="label-text clearfix">
								<div>
									<div class="img"></div>
									<span class="heading heading-pri">Edit enlisting</span>
								</div>
							</div>
							<input type="radio" id="edit" value="edit" name="enlistType" disabled formControlName="enlistType">
							<div class="control-indicator"></div>
						</label>
					</div> -->
	</div>
	<nav>
		<section class="clearfix">
			<button class="finish">
				<a class="button button-dark" (click)="onProceed()">Proceed</a>
			</button>
		</section>
	</nav>
</form>
