@import "../../../assets/sass/forms";

.form-container {
	background: url(https://images.unsplash.com/photo-1553444862-65de13a9e728?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center;
	background-size: cover;

	input[type="password"] {
		margin-bottom: 1rem;
	}

	button {
		margin: 0 auto 1.5rem !important;
	}

	.line {
		//margin-top: 1.5rem !important;
		width: 85%;
	}

	.no-account,
	.superuser,
	.staff {
		font-size: 0.85rem;
	}

	.superuser {
		a {
			color: $red400 !important;
		}
	}

	.staff {
		a {
			color: $amber400 !important;
		}
	}
}
