@import "../../../assets/sass/forms";

.form-container {
	background: url(../../../assets/images/image_07.jpg) no-repeat center;
	background-size: cover;

	input[type="password"] {
		margin-bottom: 1rem;
	}

	button {
		margin: 0 auto 1.5rem !important;
	}

	.line {
		//margin-top: 1.5rem !important;
		width: 85%;
	}

	.no-account,
	.superuser,
	.staff {
		font-size: 0.85rem;
	}

	.superuser {
		a {
			color: $red400 !important;
		}
	}

	.staff {
		a {
			color: $amber400 !important;
		}
	}
}
