<div class="container">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-6 col-md-8 col-xs-4">
			<div class="details">
				<h4>Add policies for the students</h4>
				<section>
					<div class="policy-container clearfix">
						<div class="policy"><span>Visitors allowed</span></div>
						<div class="radio-controls-container">
							<div class="control-container">
								<label class="control control-radio" for="vis-no">
									<div class="label-text"><span>No</span></div>
									<input type="radio" id="vis-no" value="no" name="visitorsAllowed">
									<div class="control-indicator"></div>
								</label>
							</div>
							<div class="control-container">
								<label class="control control-radio" for="vis-yes">
									<div class="label-text"><span>Yes</span></div>
									<input type="radio" id="vis-yes" value="yes" name="visitorsAllowed">
									<div class="control-indicator"></div>
								</label>
							</div>
						</div>
					</div>
					<div class="policy-container clearfix">
						<div class="policy"><span>Smoking and alcohol allowed</span></div>
						<div class="radio-controls-container">
							<div class="control-container">
								<label class="control control-radio" for="smk-no">
									<div class="label-text"><span>No</span></div>
									<input type="radio" id="smk-no" value="no" name="smokeAlcoholAllowed">
									<div class="control-indicator"></div>
								</label>
							</div>
							<div class="control-container">
								<label class="control control-radio" for="smk-yes">
									<div class="label-text"><span>Yes</span></div>
									<input type="radio" id="smk-yes" value="yes" name="smokeAlcoholAllowed">
									<div class="control-indicator"></div>
								</label>
							</div>
						</div>
					</div>
					<div class="policy-container clearfix">
						<div class="policy"><span>Events or parties allowed</span></div>
						<div class="radio-controls-container">
							<div class="control-container">
								<label class="control control-radio" for="evt-no">
									<div class="label-text"><span>No</span></div>
									<input type="radio" id="evt-no" value="no" name="eventsPartiesAllowed">
									<div class="control-indicator"></div>
								</label>
							</div>
							<div class="control-container">
								<label class="control control-radio" for="evt-yes">
									<div class="label-text"><span>Yes</span></div>
									<input type="radio" id="evt-yes" value="yes" name="eventsPartiesAllowed">
									<div class="control-indicator"></div>
								</label>
							</div>
						</div>
					</div>
					<div class="policy-container clearfix">
						<div class="policy"><span>Pet friendly</span></div>
						<div class="radio-controls-container">
							<div class="control-container">
								<label class="control control-radio" for="pet-no">
									<div class="label-text"><span>No</span></div>
									<input type="radio" id="pet-no" value="no" name="petFriendly">
									<div class="control-indicator"></div>
								</label>
							</div>
							<div class="control-container">
								<label class="control control-radio" for="pet-yes">
									<div class="label-text"><span>Yes</span></div>
									<input type="radio" id="pet-yes" value="yes" name="petFriendly">
									<div class="control-indicator"></div>
								</label>
							</div>
						</div>
					</div>
				</section>
				<section>
					<h6>Other policies and information students should know</h6>
					<div class="control-container">
						<label class="control control-checkbox" for="gate-timetable">
							<div class="label-text"><span>Strict gate timetable</span></div>
							<input type="checkbox" id="gate-timetable" value="strictGateTimetable">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="appliances">
							<div class="label-text"><span>Students can bring personal appliances</span></div>
							<input type="checkbox" id="appliances" value="canBringAppliances">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="host-events">
							<div class="label-text"><span>Landlord hosts events/parties</span></div>
							<input type="checkbox" id="host-events" value="hostsEvents">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="pets">
							<div class="label-text"><span>Pet(s) live on the property</span></div>
							<input type="checkbox" id="pets" value="petsAvailable">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="limited-amenities">
							<div class="label-text"><span>Amenities can be limited</span></div>
							<input type="checkbox" id="limited-amenities" value="limitedAmenites">
							<div class="control-indicator"></div>
						</label>
					</div>
				</section>
			</div>
			<nav>
				<div class="container">
					<div class="row">
						<div class="col-lg-1"></div>
						<div class="col-lg-6">
							<span class="line"></span>
							<section>
								<div class="back">
									<a [routerLink]="['/enlist', '089083', 'phone']"><i class="fa fa-angle-left"></i> Back</a>
								</div>
								<div class="finish">
									<a [routerLink]="['/enlist', '089083', 'finish']" class="button button-dark">Done</a>
								</div>
							</section>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>
