@import '../../../assets/sass/colours';

a {
	background-color: $white;
	border-radius: 3px;
	box-shadow: 0 1px 2px $gray400;
	margin: 8px 0;
	transition: transform 300ms, box-shadow 300ms;
	display: inline-block;
	-webkit-column-break-inside: avoid;

	&:hover {
		transform: scale(1.005);
		box-shadow: 2px 2px 4px rgba($color: $gray400, $alpha: 0.5);
	}

	section {
		padding: 1rem;

		&.header {
			background-color: $amber400;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;

			.heading-sec {
				color: rgba($color: $white, $alpha: 0.75);
			}

			.heading-pri {
				color: $white;
			}
		}

		&.data {
			color: $blue_gray700;

			.spaces,
			.essentials,
			.safeties,
			.policies {

				span:not(.heading) {
					margin: 0 3px 6px;
					padding: 6px 10px;
					border-radius: 5px;
					display: inline-block;
				}
			}

			.spaces {
				span:not(.heading) {
					background-color: $blue_gray50;
					color: $blue_gray400;
				}
			}

			.essentials {
				span:not(.heading) {
					background-color: $teal50;
					color: $teal400;
				}
			}

			.safeties {
				span:not(.heading) {
					background-color: $amber50;
					color: $amber400;
				}
			}

			.policies {
				span:not(.heading) {
					background-color: $red50;
					color: $red400;
				}
			}
		}

		section {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}
