<form [formGroup]="editForm" (ngSubmit)="onUpdate()">
	<div class="details">
		<section class="group room" id="room">
			<div class="header">
				<span class="heading heading-pri">Room Specifications</span>
				<span class="heading heading-sec">Specify room details {{ room?.roomHostel }}</span>
			</div>
			<section>
				<h6>Room Hostel</h6>
				<select formControlName="roomHostel">
					<option value="Hostel 1">Hostel 1</option>
					<option value="Hostel 2">Hostel 2</option>
					<option value="Hostel 3">Hostel 3</option>
					<option value="Hostel 4">Hostel 4</option>
				</select>
			</section>
			<section>
				<h6>Room Number</h6>
				<input type="number" name="" id="" min="1" formControlName="roomNumber">
			</section>
			<section>
				<h6>How much will the students be paying per semester? ($)</h6>
				<input type="number" name="" id="" min="1" formControlName="roomFee">
			</section>
			<section>
				<h6>Gender accommodated</h6>
				<div class="control-container">
					<label class="control control-radio" for="both">
						<div class="label-text"><span>Both females and males</span></div>
						<input type="radio" id="both" value="female and male" name="genderAccommodated"
							formControlName="genderAccommodated">
						<div class="control-indicator"></div>
					</label>
				</div>
				<div class="control-container">
					<label class="control control-radio" for="female">
						<div class="label-text"><span>Female students only</span></div>
						<input type="radio" id="female" value="female" name="genderAccommodated"
							formControlName="genderAccommodated">
						<div class="control-indicator"></div>
					</label>
				</div>
				<div class="control-container">
					<label class="control control-radio" for="male">
						<div class="label-text"><span>Male students only</span></div>
						<input type="radio" id="male" value="male" name="genderAccommodated"
							formControlName="genderAccommodated">
						<div class="control-indicator"></div>
					</label>
				</div>
			</section>
		</section>
		<section class="group amenities" id="amenities">
			<div class="header">
				<span class="heading heading-pri">Available Amenties</span>
				<span class="heading heading-sec">Useful features or facilities at your place</span>
			</div>
			<section>
				<h6>Essential & Convenient Amenities</h6>
				<div formGroupName="essentials">
					<div class="control-container">
						<label class="control control-checkbox" for="wifi">
							<div class="label-text"><span>WiFi</span></div>
							<input type="checkbox" id="wifi" value="WiFi" formControlName="wifi">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="tv">
							<div class="label-text"><span>TV</span></div>
							<input type="checkbox" id="tv" value="TV" formControlName="tv">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="study">
							<div class="label-text"><span>Study area</span></div>
							<input type="checkbox" id="study" value="Study area" formControlName="study">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="toiletries">
							<div class="label-text"><span>Toiletries</span></div>
							<input type="checkbox" id="toiletries" value="Toiletries" formControlName="toiletries">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="closet">
							<div class="label-text"><span>Closet/Wardrobe</span></div>
							<input type="checkbox" id="closet" value="Closet/Wardrobe" formControlName="closet">
							<div class="control-indicator"></div>
						</label>
					</div>
				</div>
			</section>
			<section>
				<h6>Safety & Security Amenities</h6>
				<div formGroupName="safeties">
					<div class="control-container">
						<label class="control control-checkbox" for="firstAid">
							<div class="label-text"><span>First aid kit</span></div>
							<input type="checkbox" id="firstAid" value="First aid kit" formControlName="firstAid">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="fireExtinguisher">
							<div class="label-text"><span>Fire extinguisher</span></div>
							<input type="checkbox" id="fireExtinguisher" value="Fire extinguisher"
								formControlName="fireExtinguisher">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="roomLock">
							<div class="label-text"><span>Room lock</span></div>
							<input type="checkbox" id="roomLock" value="Room lock" formControlName="roomLock">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="gateLock">
							<div class="label-text"><span>Gate lock</span></div>
							<input type="checkbox" id="gateLock" value="Gate lock" formControlName="gateLock">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="securityFence">
							<div class="label-text"><span>Security fence</span></div>
							<input type="checkbox" id="securityFence" value="Security fence" formControlName="securityFence">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="guardDogs">
							<div class="label-text"><span>Security guard and watch dogs</span></div>
							<input type="checkbox" id="guardDogs" value="Security guard and watch dogs"
								formControlName="guardDogs">
							<div class="control-indicator"></div>
						</label>
					</div>
				</div>
			</section>
		</section>
		<section class="group spaces" id="spaces">
			<div class="header">
				<span class="heading heading-pri">Usable Spaces</span>
				<span class="heading heading-sec">What other spaces can students use</span>
			</div>
			<section>
				<h6>Usable spaces</h6>
				<div formGroupName="spaces">
					<div class="control-container">
						<label for="commonRoom" class="control control-checkbox">
							<div class="label-text"><span>Common room</span></div>
							<input type="checkbox" id="commonRoom" value="Common room" formControlName="commonRoom">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label for="kitchen" class="control control-checkbox">
							<div class="label-text"><span>Kitchen</span></div>
							<input type="checkbox" id="kitchen" value="Kitchen" formControlName="kitchen">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label for="laundryRoom" class="control control-checkbox">
							<div class="label-text"><span>Laundry room</span></div>
							<input type="checkbox" id="laundryRoom" value="Laundry room" formControlName="laundryRoom">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label for="washingLine" class="control control-checkbox">
							<div class="label-text"><span>Washing line</span></div>
							<input type="checkbox" id="washingLine" value="Washing line" formControlName="washingLine">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label for="parking" class="control control-checkbox">
							<div class="label-text"><span>Parking</span></div>
							<input type="checkbox" id="parking" value="Parking" formControlName="parking">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label for="gym" class="control control-checkbox">
							<div class="label-text"><span>Gym</span></div>
							<input type="checkbox" id="gym" value="Gym" formControlName="gym">
							<div class="control-indicator"></div>
						</label>
					</div>
				</div>
			</section>
		</section>
		<section class="group policies" id="policies">
			<div class="header">
				<span class="heading heading-pri">Policies</span>
				<span class="heading heading-sec">Add policies for the students</span>
			</div>
			<div formGroupName="policies">
				<section>
					<div class="policy-container clearfix">
						<div class="policy"><span>Visitors allowed</span></div>
						<div class="radio-controls-container">
							<div class="control-container">
								<label class="control control-radio" for="noVisitors">
									<div class="label-text"><span>No</span></div>
									<input type="radio" id="noVisitors" value="No visitors allowed" name="visitors"
										formControlName="visitors">
									<div class="control-indicator"></div>
								</label>
							</div>
							<div class="control-container">
								<label class="control control-radio" for="visitorsAllowed">
									<div class="label-text"><span>Yes</span></div>
									<input type="radio" id="visitorsAllowed" value="Visitors are allowed" name="visitors"
										formControlName="visitors">
									<div class="control-indicator"></div>
								</label>
							</div>
						</div>
					</div>
					<div class="policy-container clearfix">
						<div class="policy"><span>Smoking and alcohol allowed</span></div>
						<div class="radio-controls-container">
							<div class="control-container">
								<label class="control control-radio" for="noSmokingAndAlcohol">
									<div class="label-text"><span>No</span></div>
									<input type="radio" id="noSmokingAndAlcohol" value="No smoking or drinking alcohol"
										name="smokeAlcohol" formControlName="smokeAlcohol">
									<div class="control-indicator"></div>
								</label>
							</div>
							<div class="control-container">
								<label class="control control-radio" for="smokingAndAlcoholAllowed">
									<div class="label-text"><span>Yes</span></div>
									<input type="radio" id="smokingAndAlcoholAllowed" value="You can smoke or drink alcohol"
										name="smokeAlcohol" formControlName="smokeAlcohol">
									<div class="control-indicator"></div>
								</label>
							</div>
						</div>
					</div>
					<div class="policy-container clearfix">
						<div class="policy"><span>Events or parties allowed</span></div>
						<div class="radio-controls-container">
							<div class="control-container">
								<label class="control control-radio" for="noEvents">
									<div class="label-text"><span>No</span></div>
									<input type="radio" id="noEvents" value="Events or parties are not allowed"
										name="eventsParties" formControlName="eventsParties">
									<div class="control-indicator"></div>
								</label>
							</div>
							<div class="control-container">
								<label class="control control-radio" for="eventsAllowed">
									<div class="label-text"><span>Yes</span></div>
									<input type="radio" id="eventsAllowed" value="Events or parties are allowed"
										name="eventsParties" formControlName="eventsParties">
									<div class="control-indicator"></div>
								</label>
							</div>
						</div>
					</div>
					<div class="policy-container clearfix">
						<div class="policy"><span>Pet friendly</span></div>
						<div class="radio-controls-container">
							<div class="control-container">
								<label class="control control-radio" for="noPets">
									<div class="label-text"><span>No</span></div>
									<input type="radio" id="noPets" value="No pets allowed" name="pets" formControlName="pets">
									<div class="control-indicator"></div>
								</label>
							</div>
							<div class="control-container">
								<label class="control control-radio" for="petsAllowed">
									<div class="label-text"><span>Yes</span></div>
									<input type="radio" id="petsAllowed" value="Pets are allowed" name="pets"
										formControlName="pets">
									<div class="control-indicator"></div>
								</label>
							</div>
						</div>
					</div>
				</section>
				<section>
					<h6>Other policies and information students should know</h6>
					<div class="control-container">
						<label class="control control-checkbox" for="gateTimetable">
							<div class="label-text"><span>Strict gate timetable</span></div>
							<input type="checkbox" id="gateTimetable" value="Strict gate timetable"
								formControlName="gateTimetable">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="appliances">
							<div class="label-text"><span>Students can bring personal appliances</span></div>
							<input type="checkbox" id="appliances" value="Students can bring personal appliances"
								formControlName="appliances">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="campusPets">
							<div class="label-text"><span>Pet(s) live on campus</span></div>
							<input type="checkbox" id="campusPets" value="Pet(s) live on the property"
								formControlName="campusPets">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label class="control control-checkbox" for="limitedAmenites">
							<div class="label-text"><span>Amenities can be limited</span></div>
							<input type="checkbox" id="limitedAmenites" value="Amenities can be limited"
								formControlName="limitedAmenities">
							<div class="control-indicator"></div>
						</label>
					</div>
				</section>
			</div>
		</section>
	</div>
	<nav>
		<section>
			<div class="cancel">
				<a [routerLink]="['/staff', 'dashboard']"><i class="fa fa-times"></i>Cancel</a>
			</div>
			<div class="enlist">
				<button type="submit"><a>Update<i class="fa fa-check"></i></a>
				</button>
			</div>
		</section>
	</nav>
</form>
