<app-header></app-header>
<section class="form">
	<div class="details">
		<section>
			<img
				src="https://images.unsplash.com/photo-1497561813398-8fcc7a37b567?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
				alt="success">
			<span class="congrats">Congratulations!</span>
			<p>You have managed to enlist your property. Now, your property can be seen by students that are looking
				for
				accommodation on the site. For any reservations made, you'll be notified and assisted thereoff. Please
				continue
				on with the site, or even <a routerLink="/enlist-new">enlist</a> another property.</p>
		</section>
	</div>
	<nav>
		<section>
			<div class="finish">
				<a [routerLink]="['/']" class="button button-dark">Okay</a>
			</div>
		</section>
	</nav>
</section>