<a href="">
	<section class="image-container">
		<img src="../../../assets/images/image_03.jpg" alt="preview" class="img-fluid">
	</section>
	<section class="data">
		<span class="heading heading-sec address">{{ property.address.houseNumber }} {{ property.address.street }} &ndash;
			{{ property.address.area }}, {{ property.address.city}}</span>
		<span class="heading heading-pri">${{ property.rent }} per month</span>
		<span class="line"></span>
		<blockquote class="description">
			<q class="description">{{ property.description }}</q>
		</blockquote>
		<cite class="heading heading-ter">&mdash; {{ property.landlord.name.first }}
			{{ property.landlord.name.last }}</cite>
		<span class="line"></span>
	</section>
</a>
