@import '../../../assets/sass/colours';

a {
	background-color: $white;
	border-radius: 3px;
	box-shadow: 0 1px 2px $gray400;
	margin: 8px 0;
	transition: transform 300ms, box-shadow 300ms;
	display: inline-block;
	column-break-inside: avoid;
	max-width: 360px;

	&:hover {
		transform: scale(1.005);
		box-shadow: 2px 2px 4px rgba($color: $gray400, $alpha: 0.5);
	}

	.image-container {
		img {
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}
	}

	.data {
		padding: 1rem 1rem 0;

		.address {
			color: $teal400 !important;
		}

		blockquote {
			padding: 8px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			&.description {
				color: $blue_gray700;
			}
		}

		cite {
			text-align: right;
		}

		span {
			display: block;
		}
	}

	.rating {
		padding: 0 4px 8px;
		text-align: center;

		i {
			margin: 2px;
			font-size: 20px;
		}
	}
}
