@import '../../../assets/global-sass-files/colours';

a {
	display: inline-flex;
	flex-direction: column;
	background-color: $white;
	border-radius: 3px;
	box-shadow: 4px 4px 10px $gray400;
	margin: 1rem 1.6666666%;
	transition: transform 300ms;
	width: 30%;

	&:hover {
		transform: scale(1.005);
	}

	.data {
		padding: 1rem;

		.address {
			color: $teal400 !important;
		}

		blockquote {
			padding: 8px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			&.description {
				color: $blue_gray700;
			}
		}

		cite {
			text-align: right;
		}

		span {
			display: block;
		}
	}
}
