<a [routerLink]="['/property', property?.id, 'details']">
	<section class="image-container">
		<img
			src="https://images.unsplash.com/photo-1480074568708-e7b720bb3f09?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aG9tZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
			alt="preview"
			class="img-fluid"
		/>
	</section>
	<section class="data">
		<span class="heading heading-sec"
		>{{ property?.address.houseNumber }}
			{{ property?.address.street }} &ndash; {{ property?.address.area }},
			{{ property?.address.city }}</span
		>
		<span class="heading heading-pri">${{ property?.rent }} per month</span>
		<span class="line"></span>
		<blockquote class="description">
			<q class="description">{{ property?.description }}</q>
		</blockquote>
		<cite class="heading heading-ter"
		>&mdash; {{ property?.landlord.name.first }}
			{{ property?.landlord.name.last }}</cite
		>
		<span class="line"></span>
	</section>
	<!--	<section class="rating">-->
	<!--		<i class="fa" appRating [rating1]="property?.rating"></i>-->
	<!--		<i class="fa" appRating [rating2]="property?.rating"></i>-->
	<!--		<i class="fa" appRating [rating3]="property?.rating"></i>-->
	<!--		<i class="fa" appRating [rating4]="property?.rating"></i>-->
	<!--		<i class="fa" appRating [rating5]="property?.rating"></i>-->
	<!--	</section>-->
	<section class="experience">
		<i
			*ngIf="property?.reports.length < 3"
			class="fa fa-smile-o green-icon"
		></i>
		<i
			*ngIf="property?.reports.length > 2 && property?.reports.length < 5"
			class="fa fa-meh-o warn-icon"
		></i>
		<i
			*ngIf="property?.reports.length > 4"
			class="fa fa-frown-o red-icon"
		></i>
	</section>
	<div *ngIf="property?.reports.length < 3" class="flag-bar green"></div>
	<div
		*ngIf="property?.reports.length > 2 && property?.reports.length < 5"
		class="flag-bar warn"
	></div>
	<div
		*ngIf="property?.reports.length > 4"
		class="flag-bar red"
	></div>
</a>
