<app-header></app-header>
<form [formGroup]="roomReservationForm" (ngSubmit)="onReserve()">
	<div class="details">
		<section class="group room-details" id="room-details">
			<div class="header">
				<span class="heading heading-pri">Room Details</span>
				<span class="heading heading-sec">Essential details of the room you're booking</span>
			</div>
			<section>
				<div>
					<h6>Room Hostel: </h6><span>{{ room.roomHostel }}</span>
				</div>
				<div>
					<h6>Room Number: </h6><span>{{ room.roomNumber }}</span>
				</div>
				<div>
					<h6>Room Price: </h6><span>${{ room.roomFee }} per semester</span>
				</div>
			</section>
		</section>
		<section class="group student-details" id="student-details">
			<div class="header">
				<span class="heading heading-pri">Your Details</span>
				<span class="heading heading-sec">Provide basic details about you below</span>
			</div>
			<section>
				<h6><span class="required">&#9913;</span> Registration Number</h6>
				<input type="text" name="registration" id="registration" formControlName="registration" />
			</section>
			<section>
				<h6><span class="required">&#9913;</span> First Name</h6>
				<input type="text" name="firstName" id="firstName" formControlName="firstName" />
			</section>
			<section>
				<h6><span class="required">&#9913;</span> Last Name</h6>
				<input type="text" name="lastName" id="lastName" formControlName="lastName" />
			</section>
			<section>
				<h6>Academic Year</h6>
				<div class="control-container">
					<label class="control control-radio" for="one">
						<div class="label-text">
							<span>Part 1</span>
						</div>
						<input type="radio" id="one" value="Part 1" name="academicYear" formControlName="academicYear" />
						<div class="control-indicator"></div>
					</label>
				</div>
				<div class="control-container">
					<label class="control control-radio" for="two">
						<div class="label-text">
							<span>Part 2</span>
						</div>
						<input type="radio" id="two" value="Part 2" name="academicYear" formControlName="academicYear" />
						<div class="control-indicator"></div>
					</label>
				</div>
				<div class="control-container">
					<label class="control control-radio" for="three">
						<div class="label-text"><span>Part 3</span></div>
						<input type="radio" id="three" value="Part 3" name="academicYear" formControlName="academicYear" />
						<div class="control-indicator"></div>
					</label>
				</div>
				<div class="control-container">
					<label class="control control-radio" for="four">
						<div class="label-text"><span>Part 4</span></div>
						<input type="radio" id="four" value="Part 4" name="academicYear" formControlName="academicYear" />
						<div class="control-indicator"></div>
					</label>
				</div>
			</section>
			<section>
				<h6>Gender</h6>
				<div class="control-container">
					<label class="control control-radio" for="female">
						<div class="label-text"><span>Female</span></div>
						<input type="radio" id="female" value="Female" name="gender" formControlName="gender" />
						<div class="control-indicator"></div>
					</label>
				</div>
				<div class="control-container">
					<label class="control control-radio" for="male">
						<div class="label-text"><span>Male</span></div>
						<input type="radio" id="male" value="Male" name="gender" formControlName="gender" />
						<div class="control-indicator"></div>
					</label>
				</div>
			</section>
		</section>
		<section class="group activities" id="activities">
			<div class="header">
				<span class="heading heading-pri">Co-curricular Activities</span>
				<span class="heading heading-sec">Do you participate in any co-curricular activities at school</span>
			</div>
			<section>
				<h6>Co-curricular activities</h6>
				<div formGroupName="activities">
					<div class="control-container">
						<label for="src" class="control control-checkbox">
							<div class="label-text"><span>Member of the SRC</span></div>
							<input type="checkbox" id="src" value="Member of the SRC" formControlName="src">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label for="trainee" class="control control-checkbox">
							<div class="label-text"><span>Leadership trainee</span></div>
							<input type="checkbox" id="trainee" value="Leadership trainee" formControlName="trainee">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label for="choir" class="control control-checkbox">
							<div class="label-text"><span>Choir member</span></div>
							<input type="checkbox" id="choir" value="Choir member" formControlName="choir">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label for="sport" class="control control-checkbox">
							<div class="label-text"><span>Partcipate in sports (captian)</span></div>
							<input type="checkbox" id="sport" value=">Partcipate in sports (captian)" formControlName="sport">
							<div class="control-indicator"></div>
						</label>
					</div>
					<div class="control-container">
						<label for="club" class="control control-checkbox">
							<div class="label-text"><span>Participate in club (patron/committee member)</span></div>
							<input type="checkbox" id="club" value="Participate in club (patron/committee member)"
								formControlName="club">
							<div class="control-indicator"></div>
						</label>
					</div>
				</div>
			</section>
		</section>
		<section *ngIf="room.policies.length > 0" class="group policies" id="policies">
			<div class="header">
				<span class="heading heading-pri">Policies</span>
				<span class="heading heading-sec">Policies to know about the room</span>
			</div>
			<section>
				<ul>
					<li *ngFor="let policy of room.policies">{{ policy }}</li>
				</ul>
			</section>
		</section>
	</div>
	<nav>
		<section>
			<div class="cancel">
				<a routerLink="/"><i class="fa fa-times"></i>Cancel</a>
			</div>
			<div class="enlist">
				<button type="submit">
					<a>Submit<i class="fa fa-check"></i></a>
				</button>
			</div>
		</section>
	</nav>
</form>
