
<div class="container">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-6 col-md-8 col-xs-4">
			<div class="details">
				<h4>Help students locate your place, precisely</h4>
				<section>
					<h6>If needed, you can drag the pin to adjust its location. Only confirmed guests will see this, so they know how to get to your place.</h6>
					<span class="line"></span>
					<span>Location</span>
					<img src="../../../../assets/images/google_map.png" alt="">
				</section>
			</div>
			<nav>
				<div class="container">
					<div class="row">
						<div class="col-lg-1"></div>
						<div class="col-lg-6">
							<span class="line"></span>
							<section>
								<div class="back">
									<a [routerLink]="['/enlist', '089083', 'bathrooms']"><i class="fa fa-angle-left"></i> Back</a>
								</div>
								<div class="next">
									<a [routerLink]="['/enlist', '089083', 'amenities']">Looks good <i class="fa fa-angle-right"></i></a>
								</div>
							</section>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>
