@import './colours';

button {
    background: transparent;
    border: none;
}

.details {
	padding: 2rem 0 5rem;
	height: 100%;
	overflow: auto;

	h4 {
		font-family: "Gotham Medium";
		margin: 2rem 0 3rem;
	}

	h6 {
		color: $blue_gray300;
	}

	select, input[type="number"] {
		width: 350px;
	}

	section {
		margin: 2.5rem 0;
	}

	i {
		color: $blue_gray700;
		font-size: 1.4rem;
		font-weight: lighter;
		cursor: pointer;
		position: relative;
		top: 3px;

		&.fa-minus-square-o {
			margin-right: 0.5rem;
		}

		&.fa-plus-square-o {
			margin-left: 0.5rem;
		}
	}

	.number {
		display: inline-block;
		width: 50px;
		text-align: center;
	}
}

nav {
	position: fixed;
	z-index: 111;
	left: 0;
	bottom: 0;
	width: 100%;

	.line {
		margin-bottom: 0;
	}

	section {
		padding: .50rem 1rem .75rem;
		background-color: $white;

		.back, .next, .finish {
			display: inline-block;
			width: 50%;
			vertical-align: middle;

			i {
				position: relative;
				padding-right: 0.5rem;
				top: 4px;
				font-size: 2rem;
			}
		}

		.back, .next {
			a {
				display: inline-block;
				padding: 0.550em 0;
				line-height: 1.7;
				margin: 10px 0;
				font-family: "Gotham Medium", sans-serif;
				color: $blue_gray700 !important;
			}
		}

		.next {
			text-align: right;

			i {
				padding-right: 0;
				padding-left: 0.5rem;
			}
		}

		.finish {
			text-align: right;
		}
	}
}



.shadow {

	nav {
		box-shadow: 2px 2px 5px $blue_gray100;
	}
}

