@import './colours';

form,
.form {
	padding: 1rem 1rem 0;
	width: 600px;
	margin: 0 auto;

	.details {
		padding: 0 1rem 6rem;

		.policy-container {
			width: 95%;

			.policy,
			.radio-controls-container {
				display: inline-block;
			}

			.radio-controls-container {
				float: right;

				.control-container {
					display: inline-block;
					margin-left: 20px;

					label {
						position: relative;
						top: -12px;
					}
				}
			}
		}

		h4 {
			font-family: "Gotham Medium";
			margin: 2rem 0 3rem;
		}

		h6 {
			color: $blue_gray300;
		}

		input[type="number"] {
			width: 100px;
		}

		section {
			margin: 2.5rem 0;

			h3 {
				background-color: $blue_gray50;
				color: $blue_gray400;
				text-align: center;
				padding: 1rem;
				border-radius: 5px;
			}
		}

		i {
			color: $blue_gray700;
			font-size: 1.4rem;
			font-weight: lighter;
			cursor: pointer;
			position: relative;
			top: 3px;

			&.fa-minus-square-o {
				margin-right: 0.5rem;
			}

			&.fa-plus-square-o {
				margin-left: 0.5rem;
			}
		}

		.number {
			display: inline-block;
			width: 50px;
			text-align: center;
		}
	}

	nav {
		position: fixed;
		z-index: 111;
		bottom: 0;
		width: 650px;
		margin: 0 auto;

		.line {
			margin-bottom: 0;
		}

		section {
			padding: .50rem 1rem .75rem;
			background-color: $white;

			.cancel,
			.enlist {
				display: inline-block;
				width: 50%;
				vertical-align: middle;

				a {
					padding: 0.75rem 1.5rem;
					border-radius: 5px;
					display: inline-block;
					line-height: 1.7;
					margin: 10px 0;
					font-family: "Gotham Medium", sans-serif;

					i {
						position: relative;
						padding-right: 0.5rem;
					}
				}

			}

			.cancel {
				a {
					color: $red400 !important;
					background-color: $red50;
				}
			}

			.enlist {
				text-align: right;

				a {
					color: $teal400 !important;
					background-color: $teal50;

					i {
						padding-right: 0;
						padding-left: 0.5rem;
					}
				}
			}

			button {
				background: transparent;
				border: none;
			}
		}
	}
}
