@import '../../../../assets/global-sass-files/enlisting';

.details {
   .congrats {
      font-family: "Gotham Medium";
      font-size: 4rem;
      margin-bottom: 1rem;
   }

   p {
      a {
         color: inherit !important;
         text-decoration: underline !important;
      }
   }
}