<div class="container">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-6 col-md-8 col-xs-4">
			<div class="details">
				<section>
					<span class="congrats">Congratulations!</span>
					<p>You have managed to enlist your property. Now, your property can be seen by students that are looking for
						accommodation on the site. For any reservations made, you'll be notified and assisted thereoff. Please continue
						on with the site, or even <a routerLink="/enlist">enlist</a> another property.</p>
				</section>
			</div>
			<nav>
				<div class="container">
					<div class="row">
						<div class="col-lg-1"></div>
						<div class="col-lg-6">
							<span class="line"></span>
							<section>
								<div class="back">
									<a [routerLink]="['/enlist', '089083', 'policies']"><i class="fa fa-angle-left"></i> Back</a>
								</div>
								<div class="finish">
									<a [routerLink]="['/']" class="button button-dark">Okay</a>
								</div>
							</section>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>
