
<div class="container">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-11 col-md-8 col-xs-4">
			<div class="details">
				<h4>Show the students what the place looks like</h4>
				<section>
               <div class="drag-drop-image">
                  <div class="center-text">
                     <div>
                        <a href="" class="button button-dark"><i class="fa fa-camera right"></i> Upload Pictures</a>
                        <span class="heading heading-ter">or drag them here</span>
                     </div>
                  </div>
               </div>					
				</section>
			</div>
			<nav>
				<div class="container">
					<div class="row">
						<div class="col-lg-1"></div>
						<div class="col-lg-11">
							<span class="line"></span>
							<section>
								<div class="back">
									<a [routerLink]="['/enlist', '089083', 'spaces']"><i class="fa fa-angle-left"></i> Back</a>
								</div>
								<div class="next">
									<a [routerLink]="['/enlist', '089083', 'description']">Next <i class="fa fa-angle-right"></i></a>
								</div>
							</section>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>


