<div class="container">
	<div class="row">
		<div class="col-lg-1 col-md-1 col-xs-2"></div>
		<div class="col-lg-6 col-md-8 col-xs-4">
			<form [formGroup]="studentsForm" (ngSubmit)="onNext()">
				<div class="details">
					<h4>How many students can your place accommodate?</h4>
					<section>
						<h6>Number of students</h6>
						<i (click)="studentsMinus($event)" class="fa fa-minus-square-o"></i><span class="number">{{numberOfStudents}}</span><i
						 (click)="studentsPlus($event)" class="fa fa-plus-square-o"></i>
					</section>
					<section>
						<h6>How many rooms can students use?</h6>
						<select formControlName="numberOfRooms">
							<optgroup label="Open space">
								<option value="loft">Loft</option>
								<option value="studio">Studio</option>
							</optgroup>
							<optgroup label="Rooms">
								<option value="1">1 room</option>
								<option value="2">2 rooms</option>
								<option value="3">3 rooms</option>
								<option value="4">4 rooms</option>
								<option value="5" selected>5 rooms</option>
								<option value="6">6 rooms</option>
								<option value="7">7 rooms</option>
								<option value="8">8 rooms</option>
								<option value="9">9 rooms</option>
								<option value="10">10 rooms</option>
								<option value="11">11 rooms</option>
								<option value="12">12 rooms</option>
								<option value="13">13 rooms</option>
								<option value="14">14 rooms</option>
								<option value="15">15 rooms</option>
							</optgroup>
						</select>
					</section>
					<section>
						<h6>How many bathrooms are available?</h6>
						<i (click)="addBathroom($event)" class="fa fa-minus-square-o"></i><span class="number">{{bathrooms}}</span><i
						 (click)="subBathroom($event)" class="fa fa-plus-square-o"></i>
					</section>
				</div>
				<nav>
					<div class="container">
						<div class="row">
							<div class="col-lg-1"></div>
							<div class="col-lg-6">
								<span class="line"></span>
								<section>
									<div class="back">
										<a [routerLink]="['/enlist', '089083', 'room']"><i class="fa fa-angle-left"></i> Back</a>
									</div>
									<div class="next">
										<button type="submit"><a [routerLink]="['/enlist', '089083', 'location']">Next <i class="fa fa-angle-right"></i></a></button>
									</div>
								</section>
							</div>
						</div>
					</div>
				</nav>
			</form>
		</div>
	</div>
</div>
