@import "../../../assets/sass/colours";

table {
	width: 80%;
	margin: 2rem auto;

	tr {
		padding: 0.5rem 1rem;
		display: flex;

		&:nth-child(odd) {
			background-color: $blue_gray50;
		}

		th,
		td {
			width: 25%;
		}

		td {
			margin: 4px 0;
		}
	}

	&.on-campus {
		tr {
			&.headings {
				background-color: $amber50;

				th {
					color: $amber400;
				}
			}
		}
	}

	&.off-campus {
		tr {
			&.headings {
				background-color: $teal50;

				th {
					color: $teal400;
				}
			}
		}
	}
}
