<section>
	<header>
		<nav class="container-fluid clearfix">
			<span id="logo" appAbril><a routerLink="/">Find & Reserve</a></span>
		</nav>
	</header>
	<nav class="enlist-nav clearfix">
	<a [routerLink]="['details']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><span>Provide Basic	Details</span></a>
		<a [routerLink]="['policies']" routerLinkActive="active"><span>Landlord's Property Policies</span></a>
		<a [routerLink]="['payment']" routerLinkActive="active"><span>Reservation Confirmation & Payment</span></a>
	</nav>
</section>
<div class="progress-bar"></div>
<router-outlet></router-outlet>
