@import '../../assets/global-sass-files/header';

section {
	.enlist-nav {
		a {
			float: left;
			width: 33.33333%;
			padding:.5rem 1rem;
			font-family: "Gotham Medium";
			color: $blue_gray700;
			transition: background-color 300ms;
			border-left: 1px solid $blue_gray100;
	
			&:first-child {
				border-left: none;
			}
			
			&:hover {
				background-color: $blue_gray50;
			}
			
			&.active {
				background-color: $blue_gray700;
				color: white;
			}
			
			span {
				display: block;
				width: 100%;
			}
		}
	}
}

.progress-bar {
	height: 7px;
	background-color: $blue_gray700;
	width: 100%;
}