/* You can add global styles to this file, and also import other style files */

@import 'assets/global-sass-files/colours';
@import 'assets/global-sass-files/selectors';
@import 'assets/global-sass-files/buttons';

@font-face {
	font-family: Ubuntu;
	src: url("assets/fonts/ubuntu.ttf");
}

@font-face {
	font-family: "Abril Fat Face";
	src: url("assets/fonts/abril-fat-face.ttf")
}

@font-face {
	font-family: "Gotham Medium";
	src: url("assets/fonts/gotham-medium.ttf")
}

body {
	color: $blue_gray700;
	font-family: Ubuntu, sans-serif;
	font-weight: 400;
	font-size: 16px;

	* {
		&:focus {
			outline: none;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Gotham Medium", sans-serif;
	}

	a {
		text-decoration: none !important;

		&:hover {
			text-decoration: none;
			cursor: pointer;
		}
	}

	li {
		list-style-type: none;
	}

	div {
		box-sizing: border-box;
	}

	img {
		width: 100%;
		height: auto;
	}

	i {
		&.red {
			color: $red400 !important;
		}
	}

	span {
		&.line {
			display: block;
			height: 5px;
			margin: .5rem 0;
			border-bottom: 1px solid $blue_gray50;

			&.line-75 {
				width: 75%;

				&.line-75-c {
					margin-left: auto;
					margin-right: auto;
				}
			}

			&.line-50 {
				width: 50%;

				&.line-50-c {
					margin-left: auto;
					margin-right: auto;
				}
			}

			&.line-25 {
				width: 25%;

				&.line-25-c {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}

	textarea {
		margin-top: .75rem;
		margin-bottom: .5rem;
		transition: box-shadow 0.2s;
		font-family: Ubuntu !important;
		color: $blue_gray700;
		width: 400px;
		border: 1px solid $blue_gray100;
		border-radius: 2px;
		padding: 0 0.5rem;

		&:focus {
			border: 1px solid $teal50 !important;
			outline: none !important;
			box-shadow: inset 0 0 2px $tealA100,
							0 0 2px $tealA100;
		}
	}

	input {
		margin-top: .75rem;
		margin-bottom: .5rem;
		transition: box-shadow 0.2s;
		font-family: Ubuntu !important;
		color: $blue_gray700;

		&:focus {
			border: 1px solid $teal50 !important;
			outline: none !important;
			box-shadow: inset 0 0 2px $tealA100,
							0 0 2px $tealA100;
		}

		&.ng-invalid.ng-dirty {
			border: 1px solid $red200 !important;
			outline: none !important;
			box-shadow: inset 0 0 2px $red400,
							0 0 2px $red400;
		}
	}

	input[type="email"],
	input[type="password"],
	input[type="text"],
	input[type="number"],
	select {
		width: 400px;
		height: 50px;
		border: 1px solid $blue_gray100;
		border-radius: 2px;
		padding: 0 0.5rem;
	}

	select,
	input[type="number"] {
		outline: none;
		background-color: #fff;
		color: $blue_gray900;
		font-size: 1rem;
		margin: 0.35rem 0 0;

		optgroup {
			color: $blue_gray100;
		}

		option {
			padding-top: .75rem;
			padding-bottom: .75rem;
			height: 50px;
			color: $blue_gray700;
		}
	}

	.switch {
		position: relative;
		display: inline;

		input[type="checkbox"],
		input[type="radio"] {
			visibility: hidden;
			margin: 0.5rem 0 0;

			&:checked+label:after {
				left: 16px;
			}

			&:checked+label {
				background-color: $tealA700;
			}
		}

		label {
			width: 30px;
			height: 15px;
			position: absolute;
			background-color: $blue_gray100;
			top: 0;
			left: 0;
			cursor: pointer;
			border-radius: 60px;

			&:after {
				content: '';
				width: 13px;
				height: 13px;
				border-radius: 50px;
				position: absolute;
				top: 1px;
				left: 1px;
				transition: all 0.15s linear;
				background-color: $white;
			}
		}
	}

	.switch-text {
		position: relative;
		top: 1px;
		left: 25px;
		font-size: 0.95rem;
	}

	.inline {
		display: inline-block !important;
	}

	.heading {
		display: block !important;
		font-family: "Gotham Medium", sans-serif;
		margin-top: 5px;
		margin-bottom: 5px;	
		font-weight: 400;


		&.heading-pri {
			font-size: 24px;
		}

		&.heading-sec {
			font-size: 18px;
			color: $blue_gray500;
		}

		&.heading-ter{
			font-size: 16px;
			color: $blue_gray300;
		}
	}

	/* Clearfix ------------------ */
	.cf:after {
		content: '';
		display: table;
		clear: both;
	}
}
