<!-- <div class="property-hero"></div> -->
<app-header></app-header>

<div class="property-hero"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-7">
			<div class="property-details-container">
				<section>
					<span class="address">{{ property?.address.houseNumber }} {{ property?.address.street }}</span>
					<span class="location">{{property?.address.area }} · {{ property?.address.city }}</span>
				</section>
				<span class="line"></span>
				<section class="essential-info">
					<p><i class="fa fa-home"></i>{{ property?.apartmentType }}&mdash;students use {{ property?.roomType }}
					</p>
					<p><i class="fa fa-venus-mars"></i>Accommodates {{ property?.genderAccommodated }} students</p>
					<p><i class="fa fa-group"></i>Accommodates up to {{ property?.numberOfStudents }} students, using
						{{ property?.numberOfRooms }} rooms</p>
					<p><i class="fa fa-bathtub"></i>{{ property?.numberOfBathrooms }} bathrooms available</p>
				</section>
				<span class="line"></span>
				<section *ngIf="property?.spaces.length > 0" class="usable-spaces">
					<span class="heading heading-ter">Usable spaces</span>
					<span *ngFor="let space of property?.spaces">{{ space }}</span>
				</section>
				<span *ngIf="property?.spaces.length > 0" class="line"></span>
				<section *ngIf="property?.amenities.essential.length > 0" class="essential-amenities">
					<span class="heading heading-ter">Essential amenities</span>
					<span *ngFor="let ess of property?.amenities.essential">{{ ess }}</span>
				</section>
				<span *ngIf="property?.amenities.essential.length > 0" class="line"></span>
				<section *ngIf="property?.amenities.safety.length > 0" class="safety-amenities">
					<span class="heading heading-ter">Safety amenities</span>
					<span *ngFor="let ess of property?.amenities.safety">{{ ess }}</span>
				</section>
				<span *ngIf="property?.amenities.safety.length > 0" class="line"></span>
				<section>
					<span class="heading heading-ter">From the landlord</span>
					<span class="from-the-landlord">{{ property?.description }}</span>
				</section>
				<span class="line"></span>
				<!-- <section class="map">
					<span class="heading heading-ter">Location</span>
					<img [src]="'../../../../assets/images/google_map.png'" alt="map view">
					<div class="map-feed">
					</div>
				</section>
				<span class="line"></span> -->
				<section class="host-info">
					<span class="heading heading-ter">Your landlord</span>
					<div>
						<img [src]="property?.landlord.avatar" alt="host avatar">
					</div>
					<div>
						<span class="host-name">{{ property?.landlord.name.first }} {{ property?.landlord.name.last }}</span>
						<span class="host-address">{{ property?.address.houseNumber }} {{ property?.address.street }}, {{
							property?.address.area }}, {{ property?.address.city }}</span>
						<span class="host-email">{{ property?.landlord.email }}</span>
						<span class="host-phone">{{ property?.landlord.phone }}</span>
					</div>
				</section>
				<section>
					<section class="policies" *ngIf="property?.policies.length > 0">
						<span class="heading heading-ter">Rules and policies</span>
						<span *ngFor="let policy of property?.policies">{{ policy }}</span>
					</section>
				</section>
				<!-- <span class="line"></span> -->
				<!-- <section class="reviews">
					<div class="add-comment-container">
						<div class="row">
							<div class="avatar col-lg-2">
								<img [src]="'http://i.pravatar.cc/300'" alt="user avatar">
							</div>
							<div class="col-lg-9">
								<input type="text" name="comment" id="comment" placeholder="Add Comment...">
							</div>
						</div>
					</div>
					<span class="heading stars">
						{{property?.reviews}} Reviews
						<i class="fa" appRating [rating1]="property?.rating"></i>
						<i class="fa" appRating [rating2]="property?.rating"></i>
						<i class="fa" appRating [rating3]="property?.rating"></i>
						<i class="fa" appRating [rating4]="property?.rating"></i>
						<i class="fa" appRating [rating5]="property?.rating"></i>
					</span>
					<div *ngFor="let review of reviews" class="review">
						<div class="row">
							<div class="avatar col-lg-2">
								<img [src]="review.reviewerAvatar" alt="reviewer avatar">
							</div>
							<div class="col-lg-9">
								<span class="username heading">{{review.reviewerEmail}}</span>
								<span class="date heading heading-ter">{{review.reviewDate}}</span>
								<p>{{review.reviewBody}}</p>
								<span class="line"></span>
							</div>
							<div class="like-review col-lg-1">
								<span>
									<i appLike class="bg-300 fa fa-heart-o"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="load-reviews">
						<a class="see-more">See more reviews</a>
					</div>
				</section> -->
			</div>
		</div>
		<div class="col-lg-5">
			<div class="booking-form-container">
				<div class="booking-form">
					<div class="rent-like row">
						<div class="inline col-xs-10 col-md-10 col-lg-10">
							<span class="rent"><i class="inline">{{ property?.rent }}</i> per month</span>
						</div>
						<div class="inline col-xs-1 col-md-1 col-lg-1">
							<span><i appLike class="fa"></i></span>
						</div>
					</div>
					<div class="property-rating-container">
						<span class="property-rating"><i class="fa" appRating [rating1]="property?.rating"></i></span>
						<span class="property-rating"><i class="fa" appRating [rating2]="property?.rating"></i></span>
						<span class="property-rating"><i class="fa" appRating [rating3]="property?.rating"></i></span>
						<span class="property-rating"><i class="fa" appRating [rating4]="property?.rating"></i></span>
						<span class="property-rating"><i class="fa" appRating [rating5]="property?.rating"></i></span>
						<span class="property-total-rating">{{ property?.reviews }} reviews</span>
					</div>
					<div class="recommendation-container">
						<span href="" class="recommended">Property recommended<i class="fa fa-thumbs-o-up"></i></span>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis asperiores expedita nesciunt
							optio ea
							explicabo, voluptas perferendis maxime adipisci magnam voluptatum, aut architecto tenetur ipsa
							dignissimos minus
							labore laudantium pariatur.</p>
					</div>
					<div>
						<a class="button button-primary-outline" [routerLink]="['/property', property?.id, 'reservation']"><i
								class="fa fa-bookmark-o right"></i>Place Reservation</a>
					</div>
					<span class="line line-75 line-75-c"></span>
					<a href="" class="report">Report this property<i class="fa fa-flag-o"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

<app-footer></app-footer>
