<app-header></app-header>
<form [formGroup]="propertyReservationForm" (ngSubmit)="onReserve()">
	<div class="details">
		<section class="group place-details" id="place-details">
			<div class="header">
				<span class="heading heading-pri">Place Details Specifications</span>
				<span class="heading heading-sec">Essential details of the place you're booking</span>
			</div>
			<section>
				<div>
					<span>Address: </span><span>{{ property?.address.houseNumber }} {{ property?.address.street }}
						{{ property?.address.area }},
						{{ property?.address.city }}</span>
				</div>
				<div>
					<span>Rent: </span><span>${{ property?.rent }} per month</span>
				</div>
				<div>
					<span>Landlord: </span><span>{{ property?.landlord.name.first }} {{ property?.landlord.name.last }}</span>
				</div>
			</section>
		</section>
		<section class="group student-details" id="student-details">
			<div class="header">
				<span class="heading heading-pri">Your Details</span>
				<span class="heading heading-sec">Provide basic details about you below</span>
			</div>
			<section>
				<label><span class="required">&#9913;</span> Registration Number</label><br>
				<input type="text" name="registration" id="registration" formControlName="registration" placeholder="001234567A00" />
			</section>
			<section>
				<label><span class="required">&#9913;</span> First Name</label><br>
				<input type="text" name="firstName" id="firstName" formControlName="firstName" />
			</section>
			<section>
				<label><span class="required">&#9913;</span> Last Name</label><br>
				<input type="text" name="lastName" id="lastName" formControlName="lastName" />
			</section>
			<section>
				<span>Gender</span>
				<div class="control-container">
					<label class="control control-radio" for="female">
						<div class="label-text"><span>Female</span></div>
						<input type="radio" id="female" value="Female" name="gender" formControlName="gender" />
						<div class="control-indicator"></div>
					</label>
				</div>
				<div class="control-container">
					<label class="control control-radio" for="male">
						<div class="label-text"><span>Male</span></div>
						<input type="radio" id="male" value="Male" name="gender" formControlName="gender" />
						<div class="control-indicator"></div>
					</label>
				</div>
			</section>
		</section>		
		<section class="group place-details" id="place-details">
			<div class="header">
				<span class="heading heading-pri">Deposit Payment</span>
				<span class="heading heading-sec">Amount paid and proof reference</span>
			</div>		
			<section>
				<span>Deposit Payment</span>				
				<section>
					<label><span class="required">&#9913;</span> Amount</label><br>
					<input type="text" id="deposit" formControlName="deposit" />
				</section>
				<section>
					<label><span class="required">&#9913;</span> Transaction reference</label><br>
					<input type="text" id="reference" formControlName="reference" />
				</section>
			</section>
		</section>
		<section *ngIf="property?.policies.length > 0" class="group policies" id="policies">
			<div class="header">
				<span class="heading heading-pri">Policies</span>
				<span class="heading heading-sec">Policies to know about the place, by the landlord</span>
			</div>
			<section>
				<ul>
					<li *ngFor="let policy of property?.policies">{{ policy }}</li>
				</ul>
			</section>
		</section>
	</div>
	<nav>
		<section>
			<div class="cancel">
				<a [routerLink]="['/property', property?.id, 'details']"><i class="fa fa-times"></i>Cancel</a>
			</div>
			<div class="enlist">
				<button type="submit">
					<a>Sumbit<i class="fa fa-check"></i></a>
				</button>
			</div>
		</section>
	</nav>
</form>
