<div class="container">
      <div class="row">
         <div class="col-lg-1"></div>
         <div class="col-lg-6 col-md-8 col-xs-4">
            <div class="details">
               <h4>Add your phone number</h4>
               <section>
                  <h6>This phone number will enable students to contact you and probably make payments to. However, you can always specify and modify them accordingly</h6>
                  <input type="text" name="" id="" placeholder="e.g. 07xxxxxxxx">
               </section>
            </div>
            <nav>
               <div class="container">
                  <div class="row">
                     <div class="col-lg-1"></div>
                     <div class="col-lg-6">
                        <span class="line"></span>
                        <section>
                           <div class="back">
                              <a [routerLink]="['/enlist', '089083', 'description']"><i class="fa fa-angle-left"></i> Back</a>
                           </div>
                           <div class="next">
                              <a [routerLink]="['/enlist', '089083', 'policies']">Almost there <i class="fa fa-angle-right"></i></a>
                           </div>
                        </section>
                     </div>
                  </div>
               </div>
            </nav>
         </div>
      </div>
   </div>
   