@import "../../../assets/sass/colours";

main {
	padding: 3rem 1rem;

	h6 {
		text-align: center;
	}

	section {
		margin-top: 1rem;
		display: flex;

		div {
			width: 25%;

			.enable,
			.disable {
				padding: 0.25rem 0.5rem;
				border-radius: 3px;
				margin: 0.1rem;
				font-size: 14px;
				cursor: pointer;
				box-shadow: 0 1px 2px $gray300;
				transition: transform 300ms, box-shadow 300ms;

				&:hover {
					transform: scale(1.005);
					box-shadow: 2px 2px 4px rgba($color: $gray300, $alpha: 0.5);
				}
			}

			.enable {
				background-color: $teal50;
				color: $teal400;
			}

			.disable {
				background-color: $red50;
				color: $red400;
			}
		}
	}
}
p {
	text-align: center;
	padding: 1rem;

	a {
		color: $amber400;
		font-style: italic;
		text-decoration: underline !important;
	}
}

table {
	width: 80%;
	margin: 2rem auto;

	tr {
		padding: 0.5rem 1rem;
		display: flex;

		&:nth-child(odd) {
			background-color: $blue_gray50;
		}

		&.headings {
			background-color: $amber50;

			th {
				color: $amber400;

				&:nth-last-child(2),
				&:nth-last-child(1) {
					text-align: right;
				}
			}
		}

		th,
		td {
			width: 25%;
		}

		td {
			margin: 4px 0;

			&:nth-last-child(2) {
				text-align: right;
				padding-right: 0.5rem;
			}

			&.actions {
				text-align: right;

				span {
					padding: 0.25rem 0.5rem;
					border-radius: 3px;
					margin: 0.1rem;
					font-size: 14px;
					cursor: pointer;
					box-shadow: 0 1px 2px $gray300;
					transition: transform 300ms, box-shadow 300ms;

					&:hover {
						transform: scale(1.005);
						box-shadow: 2px 2px 4px rgba($color: $gray300, $alpha: 0.5);
					}

					&.edit {
						background-color: $teal50;
						color: $teal400;
					}

					&.delete {
						background-color: $red50;
						color: $red400;
					}
				}
			}
		}
	}
}
