@import './colours';

form,
.form {
	padding: 3rem 3rem 0;

	.details {
		width: 550px;
		margin: 1rem auto 8rem;

		.group {
			background-color: $white;
			border-radius: 3px;
			box-shadow: 0 1px 2px $gray400;
			margin: 8px 0;
			transition: transform 300ms, box-shadow 300ms;
			padding-bottom: 1rem;

			&:hover {
				transform: scale(1.005);
				box-shadow: 2px 2px 4px rgba($color: $gray400, $alpha: 0.5);
			}

			.header {
				padding: 1rem;
				background-color: $teal400;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;

				.heading-pri {
					color: $white;
				}

				.heading-sec {
					color: rgba($color: $white, $alpha: 0.75)
				}
			}

			section {
				padding-left: 1rem;
				padding-right: 1rem;
				margin: 2.5rem 0;
			}

			h6 {
				color: $blue_gray300;
			}

			input[type="number"] {
				width: 100px;
			}

			textarea {
				width: 400px;
			}
		}

		.policy-container {

			.policy,
			.radio-controls-container {
				display: inline-block;
			}

			.radio-controls-container {
				float: right;

				.control-container {
					display: inline-block;
					margin-left: 20px;

					label {
						position: relative;
						top: -12px;
					}
				}
			}
		}
	}

	nav {
		position: fixed;
		z-index: 111;
		bottom: 0;
		width: 650px;
		margin: 0 auto;
		left: 50%;
		transform: translateX(-50%);
		box-shadow: 0px -1px 2px rgba($color: $gray400, $alpha: 0.5);

		section {
			padding: .50rem 1rem .75rem;
			background-color: $white;

			.cancel,
			.enlist {
				display: inline-block;
				width: 50%;
				vertical-align: middle;

				a {
					padding: 0.75rem 1.5rem;
					border-radius: 5px;
					display: inline-block;
					line-height: 1.7;
					margin: 10px 0;

					i {
						position: relative;
						padding-right: 0.5rem;
					}
				}

			}

			.cancel {
				a {
					color: $red400 !important;
					background-color: $red50;
				}
			}

			.enlist {
				text-align: right;

				a {
					color: $teal400 !important;
					background-color: $teal50;

					i {
						padding-right: 0;
						padding-left: 0.5rem;
					}
				}
			}

			button {
				background: transparent;
				border: none;
			}
		}
	}
}

