@import "./colours";

header {
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	background-color: $teal400;

	&.staff-dashboard {
		background-color: $amber400;

		.tag {
			color: $amber400 !important;
		}
	}

	&.superuser-dashboard {
		background-color: $red400;

		.tag {
			color: $red400 !important;
		}
	}

	nav {
		position: relative;

		#logo {
			float: left;
			font-size: 24px;

			a {
				color: $white;
			}

			&:hover {
				background-color: transparent;
			}
		}

		div {
			float: right !important;

			span,
			h6 {
				display: inline;
				box-sizing: border-box;
				border-radius: 3px;
				padding: 0.8rem 0.1rem;
				transition: color 150ms ease-in;
				font-size: 14px;

				&.tag {
					background-color: $white;
					padding-left: 1rem;
					padding-right: 1rem;
					color: $teal400;
				}

				a {
					box-sizing: border-box;
					display: inline-block;
					padding: 0.6rem 0;
					margin-left: 0.6rem;
					margin-right: 0.6rem;
					color: rgba($color: white, $alpha: 0.5);
					cursor: pointer;

					&:hover {
						color: $white;
					}

					&.active {
						color: white;
					}
				}
			}
		}
	}
}
