@import './colours';

header {
	box-sizing: border-box;
	padding: .5rem 1rem;
	background-color: $teal400;

	&.staff-dashboard {
		background-color: $amber400;
	}

	nav {
		position: relative;

		#logo {
			float: left;
			font-size: 24px;

			a {
				color: $white;
			}

			&:hover {
				background-color: transparent;
			}
		}

		div {
			float: right !important;

			span,
			h6 {
				display: inline;
				box-sizing: border-box;
				border-radius: 3px;
				padding: .8rem .1rem;
				transition: color 150ms ease-in;

				a {
					box-sizing: border-box;
					display: inline-block;
					padding: .6rem 0;
					margin-left: 0.6rem;
					margin-right: 0.6rem;
					color: rgba($color: white, $alpha: 0.5);
					cursor: pointer;

					&:hover {
						color: $white;
					}

					&.active {
						color: white;
					}
				}
			}
		}
	}
}
